@model IEnumerable<Hotel.Web.Models.TipoCabaniaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Listar todos los tipos de cabaña</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Costo.Valor)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Costo.Valor)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "TipoCabania", new { nombre = item.Nombre })
                        @Html.ActionLink("Delete", "Delete", "TipoCabania", new { nombre = item.Nombre })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<span>@ViewBag.Message</span>