@model Hotel.LogicaNegocio.Entidades.Cabania

@{
    ViewData["Title"] = "Create";
}

<h1>Dar de alta una cabaña</h1>

<h4>Cabaña</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (@ViewBag.listaTipos != null)
            {
                <div class="form-group">
                    <label asp-for="NombreTipoCabania" class="control-label"> Seleccione el Tipo de Cabaña</label>
                    <select asp-for="NombreTipoCabania" class="form-select">
                        @*<option value="" selected>Desplegar</option>*@
                        @foreach (var item in @ViewBag.listaTipos)
                        {
                            <option value="@item.Nombre">@item.Nombre</option>
                        }

                    </select>

                    @*<label asp-for="NombreTipoCabania" class="control-label"></label>
                <select asp-for="NombreTipoCabania" class="form-control" asp-items="ViewBag.listaTipos">
                @foreach (var item in @ViewBag.listaTipos)
                {
                <option value="@item.Nombre">@item.Nombre</option>
                }
                </select>*@
                </div>
            }
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TieneJacuzzi" /> @Html.DisplayNameFor(model => model.TieneJacuzzi)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HabilitadaReservas" /> @Html.DisplayNameFor(model => model.HabilitadaReservas)
                </label>
            </div>
            @*<div class="form-group">
            <label asp-for="NumeroHabitacion" class="control-label"></label>
            <input asp-for="NumeroHabitacion" class="form-control" />
            <span asp-validation-for="NumeroHabitacion" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="CantMaxPersonas" class="control-label"></label>
                <input asp-for="CantMaxPersonas" class="form-control" />
                <span asp-validation-for="CantMaxPersonas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="imagen" class="control-label"></label>
                <input type="file" accept="image/png, image/jpeg" name="imagen" class="form-control" />
                <span asp-validation="imagen" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <span>@ViewBag.Message</span>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
