@model Hotel.LogicaNegocio.Entidades.Mantenimiento

@{
    ViewData["Title"] = "Create";
}

<h1>Dar de alta un mantenimiento</h1>

<h4>Mantenimiento</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        @if (@ViewBag.unaCabania != null)
        {
            <dt class="col-4">
                Número de Habitación
            </dt>
            <dd class="col-sm-10">
                @ViewBag.unaCabania.NumeroHabitacion
            </dd>
            <dt class="col-4">
                Tipo de Cabaña
            </dt>
            <dd class="col-sm-10">
                @ViewBag.unaCabania.Tipo.Nombre
            </dd>
            <dt class="col-4">
                Nombre
            </dt>
            <dd class="col-sm-10">
                @ViewBag.unaCabania.Nombre
            </dd>
            <dt class="col-4">
                Descripción
            </dt>
            <dd class="col-sm-10">
                @ViewBag.unaCabania.Descripcion
            </dd>
            <dt class="col-4">
                Tiene Jacuzzi
            </dt>
            <dd class="col-sm-10">
                @ViewBag.unaCabania.TieneJacuzzi
            </dd>
            <dt class="col-4">
                Habilitada para Reservas
            </dt>
            <dd class="col-sm-10">
                @ViewBag.unaCabania.HabilitadaReservas
            </dd>
            <dt class="col-4">
                Cantidad Máxima de Personas
            </dt>
            <dd class="col-sm-10">
                @ViewBag.unaCabania.CantMaxPersonas
            </dd>
            <dt class="col-4">
                Foto
            </dt>
            <dd class="col-sm-10">
                <img width="200px" class="img-thumbnail" src="~/imgs/Cabanias/@ViewBag.unaCabania.Foto" />
            </dd>
        }

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion.Valor" class="form-control" />
                <span asp-validation-for="Descripcion.Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Costo" class="control-label"></label>
                <input asp-for="Costo.Valor" class="form-control" />
                <span asp-validation-for="Costo.Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreFuncionario" class="control-label"></label>
                <input asp-for="NombreFuncionario" class="form-control" />
                <span asp-validation-for="NombreFuncionario" class="text-danger"></span>
            </div>        
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <span>@ViewBag.Message</span>
    </div>
</div>

<div>
    <a asp-controller="Cabania" asp-action="Index">Back to List</a>
</div>

